body{
	background-color:#fff;
	margin:auto;
	text-align: center;
}
html {overflow-x:hidden;}
a{text-decoration: none;}
.clear:after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
.clear{
	zoom:1;
}
.wrap{
	width:1200px;
	margin:auto;
}
.musicStylePage{
	width:100%;
	height:1006px;
	margin:auto;
	background: url('../images/zhuanjiBg.png') center center no-repeat;
	background-size:cover;
	overflow: hidden;
}
.PageCover{
	width:100%;
	height:860px;
	border-radius: 6px;
	background-color: #fff;
	margin-top:138px;
	position: relative;
	bottom:60px;
}
.PageCoverLeft{
	float:left;
	width:198px;
	height:860px;
	border:1px solid #dfdfdf;
	position: relative;
}
.PageCoverLeft .img{
	position: absolute;
	top:-10px;
	left:6px;
}
.show{display:block;}
.hide{display:none;}
.PageCoverLeft .container{
	width:100%;
	margin:50px auto auto auto;
}
.PageCoverLeft .container img{
	vertical-align: middle;
	margin-right: 22px;
}
.PageCoverLeft .container span{
	font-size:16px;
	color:#333;
}
.PageCoverLeft ul{
	list-style:none;
	width:100%;
	box-sizing:border-box;
	margin-bottom:20px;
}
.PageCoverLeft ul li{
	height:70px;
	line-height:70px;
	width:100%;
	text-align:center;
	border-bottom:1px solid #dfdfdf;
 }
.PageCoverLeft	a{
	text-decoration:none;
}
.PageCoverLeft  a:hover{
	text-decoration:none;
}
.PageCoverLeft .container span.curr{
	color:#3d86f8;
}
.PageCoverRight{
	float:left;
	width:1000px;
	margin-top:40px;
}
.PageCoverRight	 .tab-content{
	width:100%;
}
.geci{
	margin:0 10px 50px 10px;
	float:left;
	width:976px;
	height:320px;
	overflow-y:scroll;
	background: url("../images/geCiBg1.png") left top no-repeat;
	*background: url("../images/geCiBg1.png") scroll repeat-y 0 0;
}
.lrcContent{
    text-align: center;
    font-size: 16px;
    color: #333;
    line-height: 32px;
    overflow: hidden;
    margin-bottom: 15px;
}
.scrollbar{
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lrcArea{
	width: 100%;
    height: 100%;
    overflow: hidden;
}   
.lrcId{
	position: relative;
}
.lists{
	float:left;
	width:998px;
	position: relative;
}
 .playerMain{
	width: 100%;
	height:382px;
	transition:all 0.2s;
	position: relative;
	top:0;
	/*box-shadow: 2px 2px 5px 5px #ccc;*/
	background-color: #fff;
	overflow-x: hidden;
	overflow-y:scroll;
}
 .middle{
	position: absolute;
	top: 56px;
	width: 100%;
	*left:0;
}
 .mainWrap{
	position: relative;
	padding:0;
	height: 100%;
}
/*播发列表*/
  .mainBody{height: 100%;}
/*专辑信息*/
 .mainOuther{
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	padding-right: 20px;
	height: 100%;
}
.albumCover{
	width: 250px;
	height: 185px;
	padding-top: 20px;
	text-align: center;
}
.albumSale{
	width: 250px;
	height: 42px;
	padding: 5px 0;
	text-align: center;
}
.asA{
	display: block;
	width: 130px;
	height: 40px;
	overflow: hidden;
	padding-left: 40px;
	border-radius: 4px;
	border:1px solid #e0e0e0;
	margin: 0 auto;
	background-color: #ff7b00;
}
 .playHd{
	width:100%;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: -56px;
	border-bottom: 1px solid #ccc;
	background: #ebebeb;
	font-size:14px;
	color:#333;
	*left:0;
}
 .phInner{
	height: 100%;
	overflow: hidden;
	width:100%;
}
 .phInner .col{
	width: 18%;
	border-right:1px solid transparent;
}
 .phInner .col:last-child{
	border-right:1px solid transparent;
}
 .col{
	width: 18%;
	height: 100%;
	float: left;
	line-height: 40px;
	text-align: center;
	color: #333;
	font-size: 16px;
}
 .playBd{
	width:100%;
	position: absolute;
	top: -15px;
	bottom: 60px;
	*left:0;
}
 .scrollView{
	height: 100%;
	width: 100%;
	position: relative;
	outline: 0;
	-webkit-user-drag:none;
}
 .songUL{
	width: 100%;
	height: 100%;
}
.striped{
	background-color: #f5f5f7;
}
 .songList{
	width: 100%;
	color: #333;
	/*border-bottom: 1px solid #dfdfdf;*/
	position: relative;
}
 .start, .xuHao{
	line-height: 41px; 
	text-align: center; 
	position: absolute;
	width: 36px;
	height: 41px;
	left: -70px;
	top: 0;
	text-align: center;
}
 .xuHao{left:16px;width:6%;}
 .start em,  .xuHao em{
	font-style: normal;
	font-family: Arial;
	color: #aaa;
	font-size: 12px;
}
 .xuHao em{
	font-size:14px;
	color:#333;
}
 .songBd{
	height: 44px;
	line-height: 44px;
	padding: 0 17px 0 100px;
	width:94%;
}
 .songBd .col{
	color: #333;
	line-height: 44px;
}
 .col{cursor: default;}
 .cicon{
	cursor: pointer; 
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top:11px;
}
 .love{
	right: 170px;
	*top:0;
}
 .love img{
	vertical-align: top;
}
 .track{
	height: 30px;
	width: 100%;
	line-height: 30px;
	position: relative;
	padding-left: 38px;
}
/*底部按键*/
/*底部按键*/
 .bottom{
	width: 100%;
	height:60px;
	background:url("../css/images/gradientBg.png") repeat;
	position: relative;
	top:8px;
	*top:8px;
}
 .playerWrap{
	position: relative;
	height: 100%;
	padding-left: 224px;
	padding-right: 284px;
	*padding-left:0;
	*padding-right:526px;
}
.playerCon{
	position: absolute;
	top: -10px;
	left: 0;
	width: 278px;
	height: 100%;
}
 .pbtn{
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
}
 .prevBtn{
	top: 25px;
	left: 38px;
	background: url("../css/images/prevBtn.png") no-repeat;
}
 .playBtn{
	top:20px;
	left: 86px;
	width:45px;
	height:45px;
	background: url("../css/images/pauseBtn.png") no-repeat;
}
 .nextBtn{
	background: url("../css/images/nextBtn.png") no-repeat;
	top:25px;
	left: 144px;
}
 .mode{
	display: block;
	width:20px;
	height: 18px;
	position: absolute;
	top: 31px;
	left: 202px;
	background:url("../css/images/xunhuan.png");
}
 .playInfo {
	height:100%;
	position:relative;
	top:-10px;
}
 .trackInfo {
	position:absolute;
	width:100%;
	height:18px;
	line-height:18px;
	top:20px;
	color:#fff;
}
 .trackInfo a {
	color:#333;
	font-size:14px;
	text-decoration:none;
}
 .trackCon {
	float:right;
	width:100px;
	height:18px;
}
 .songName,.songPlayer {
	float:left;
}
 .playerLength {
	width:100%;
	height:20px;
	font-size:10px;
	position:absolute;
	top:43px;
}
 .position {
	width:40px;
	height:18px;
	line-height:18px;
	position:absolute;
	left:0;
	color:#333;
}
 .duration {
	width:40px;
	height:18px;
	line-height:18px;
	position:absolute;
	right:0;
	color:#333;
	text-align:right;
}
.progress {
	position:absolute;
	left:40px;
	right:40px;
	height:18px;
}
 .pro1,.pro2 {
	position:absolute;
	left:0;
	height:100%;
	width:100%;
	background:url("../css/images/pro.png") repeat-x 0 50%;
}
 .dian,.dian2 {
	display:block;
	width:10px;
	height:18px;
	position:absolute;
	top:4px;
	background:url("../css/images/dian.png") no-repeat;
}
 .dian2 {
	left:79px;
}
 .vol {
	position:absolute;
	top:-10px;
	right:0;
	width:270px;
	height:100%;
}
 .pinBtn {
	display:block;
	position:absolute;
	top:28px;
	right:176px;
	width:80px;
	height:32px;
}
 .volm {
	position:absolute;
	width:110px;
	height:18px;
	top:31px;
	right:120px;
}
 .volSpeaker {
	position:absolute;
	*left:0;
	width:18px;
	height:18px;
	background:url("../css/images/laba.png") no-repeat;
}
 .volControl {
	position:absolute;
	left:24px;
	width:80px;
	height:18px;
	background:url("../css/images/pro.png") repeat-x 0 50%;
}
/*歌曲列表效果*/
 .start em{
	cursor: pointer;
	display: block;
	width: 18px;
	height: 18px;
	margin: 11px 9px;
	background: url("../css/images/play.png") 0 0;
	line-height: 18px;
	color:transparent;
}
/*结束*/